/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(66, 66, 66);
  color: white;
}
.backdrop-modal-panel {
  filter: blur(20px);
  background-color: #3f3f3f;
  opacity: 0.7 !important;
}

// .highlight {
//   color: white;
//   background: #db2a6e;
// }
