<div class="table-control">
  <div class="actions">
    <button class="add-button" mat-raised-button (click)="addSong()">
      <mat-icon>add</mat-icon> Add Song
    </button>
    <button class="reset-button" mat-raised-button>
      <mat-icon>restart_alt</mat-icon> Reset
    </button>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    class="song-list-table mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><span>Name</span></th>

      <td mat-cell *matCellDef="let data">
        {{ data.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef><span>Genre</span></th>

      <td mat-cell *matCellDef="let data">
        {{ data.genre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef><span>Duration</span></th>

      <td mat-cell *matCellDef="let data">
        {{ data.duration }}
      </td>
    </ng-container>

    <ng-container matColumnDef="created_by">
      <th mat-header-cell *matHeaderCellDef><span>Created By</span></th>

      <td mat-cell *matCellDef="let data">
        {{ data.created_by.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let data">
        <button
          class="row-copy-button row-button"
          mat-icon-button
          (click)="onDetails(data._id)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          class="row-edit-button row-button"
          mat-icon-button
          (click)="editSong(data)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          class="row-delete-button row-button"
          mat-icon-button
          (click)="onDelete(data._id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Filter Header -->

    <ng-container matColumnDef="nameFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Name Search</mat-label>
          <input matInput type="text" #name />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="genreFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Genre Search</mat-label>
          <input matInput type="text" #name />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="durationFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Duration Search</mat-label>
          <input matInput type="text" #name />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="created_byFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Creator Search</mat-label>
          <input matInput type="text" #name />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="blank">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
    <tr mat-header-row *matHeaderRowDef="columnsFilter"></tr>

    <tr mat-row *matRowDef="let row; columns: columnsDisplayed"></tr>
  </table>

  <mat-paginator
    class="paginator-control"
    [length]="dataCount"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
